#papa6{
    height: 100vh;
    width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: initial;
}
#img{
    top: 0px;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
#cosa2{
    background-color: transparent;
}
#cosa1{
    color: #7dbcbe;
}
#culi{
    background-color: transparent;
    border-radius: 20px;
}
#qui{
    background-color: transparent;
    position: relative;
    top: 20px;
    border-radius: 20px;
}
#taca{
    background-color: #81ecec;
    position: relative;
    top: 20px;
    border-radius: 20px;
}